.form-side {
  grid-column: span 3 / span 3;

  @media (min-width: 1024px) {
    grid-column: span 1 / span 1;
  }
}

.logo-banner {
  display: none;

  @media (min-width: 1024px) {
    display: block;
    grid-column: span 2 / span 2;
  }
  background-image: url('/images/background-field.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  width: 100%;
}

mat-form-field, button {
  margin: 0 auto;
  width: 75%;
}

.span-link {
  font-weight: bold;
  color: var(--default-green-color);

  &:hover {
    cursor: pointer;
  }
}