<aside class="h-full">
  <div>
    <nav>
      <button class="flex items-center gap"><mat-icon>dashboard</mat-icon> Dashboard</button>

      <button class="flex items-center gap"><mat-icon>calendar_month</mat-icon> Agendamentos</button>

      <button class="flex items-center gap"><mat-icon>stadium</mat-icon> Quadras</button>

      <button class="flex items-center gap"><mat-icon>bar_chart_4_bars</mat-icon> Análises</button>

      <button class="flex items-center gap"><mat-icon>payments</mat-icon> Pagamentos</button>
    </nav>
  </div>

  <div class="space">
    <button class="flex items-center justify-center gap">
      <mat-icon>map_search</mat-icon> View Live Map
    </button>

    <button class="flex items-center justify-center gap" (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </div>
</aside>
