<aside class="h-100">
  <div>
    <nav>
      <button class="d-flex align-items-center gap-2"><mat-icon>dashboard</mat-icon> Dashboard</button>

      <button class="d-flex align-items-center gap-2"><mat-icon>calendar_month</mat-icon> Agendamentos</button>

      <button class="d-flex align-items-center gap-2"><mat-icon>stadium</mat-icon> Quadras</button>

      <button class="d-flex align-items-center gap-2"><mat-icon>bar_chart_4_bars</mat-icon> Análises</button>

      <button class="d-flex align-items-center gap-2"><mat-icon>payments</mat-icon> Pagamentos</button>
    </nav>
  </div>

  <div class="space">
    <!-- <button class="d-flex align-items-center justify-center gap-2">
      <mat-icon>map_search</mat-icon> View Live Map
    </button> -->

    <button class="d-flex align-items-center justify-center gap-2" (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </div>
</aside>
