:host {
  display: block;
  width: 100%;
  height: 100%;
}

aside {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  nav {
    display: flex;
    flex-direction: column;
    gap: 8px;

    button {
      color: #000000;
      transition: all 0.2s ease;
      font-size: 16px;
      letter-spacing: 0.5px;

      &:active {
        transform: scale(0.98);
      }
    }
  }

  .space {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 25px;
  }
}

.gap {
  gap: 8px;
}