<aside class="h-100">
  <div>
    <nav>
      <a
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="d-flex align-items-center gap-2"
      >
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>

      <a
        routerLink="agendamentos"
        routerLinkActive="active"
        class="d-flex align-items-center gap-2"
        class="d-flex align-items-center gap-2"
      >
        <mat-icon>calendar_month</mat-icon> Agendamentos
      </a>

      <a routerLink="quadras" routerLinkActive="active" class="d-flex align-items-center gap-2"
        ><mat-icon>stadium</mat-icon> Quadras</a
      >

      <a routerLink="analises" routerLinkActive="active" class="d-flex align-items-center gap-2">
        <mat-icon>bar_chart_4_bars</mat-icon> Análises
      </a>

      <a routerLink="pagamentos" routerLinkActive="active" class="d-flex align-items-center gap-2">
        <mat-icon>payments</mat-icon> Pagamentos
      </a>
    </nav>
  </div>

  <div class="space">
    <!-- <a class="d-flex align-items-center justify-center gap-2">
      <mat-icon>map_search</mat-icon> View Live Map
    </a> -->

    <a class="d-flex align-items-center justify-center gap-2" (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </a>
  </div>
</aside>
