button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
    color: white;
    text-transform: none;
    font-weight: 500;
    
    &:hover {
        background-color: var(--default-icons-background-color);
        color: black;
    }
}