<header class="d-flex align-items-center justify-content-between px-3">
  <mat-icon (click)="toggleMenu.emit()" style="cursor: pointer;">menu</mat-icon>
  <h4 class="brand fw-bold align-self-center">SPORTSPOT</h4>

  <div class="w-50">
    <i class="pi pi-search absolute left-4 top-1/2 -translate-y-1/2 text-slate-400"></i>
    <input
      type="text"
      placeholder="Search facilities or bookings..."
      class="w-full pl-11 pr-4 py-2.5 bg-slate-50 border border-slate-200 rounded-full text-sm focus:outline-none focus:border-slate-400 text-slate-800 transition-colors"
    />
  </div>

  <div class="d-flex align-items-center gap-3">
    <div class="d-flex items-center gap-3">
      <a href="#" class="">Support</a>
      <a href="#" class="">Help Center</a>
    </div>

    <button
      class="text-white rounded-xl fw-bold d-flex align-items-center gap-1"
    >
      <mat-icon>
        add
      </mat-icon> New Booking
    </button>

    <div class="d-flex align-items-center gap-3">
      <mat-icon class="material-symbols-outlined">
        notifications
      </mat-icon>
      <mat-icon class="material-symbols-outlined">settings</mat-icon>
      <img
        src="https://avatar.iran.liara.run/public/30"
        alt="Avatar"
        class="w-9 h-9 rounded-full border border-slate-200 object-cover ml-1"
      />
    </div>
  </div>
</header>
