// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import 'primeicons/primeicons.css';

:root {
  --backgroud-default: #000000;
  --text-color-default: #ffffff;
  --default-green-color: #4db614;
  --default-hover-green-color: #2e7508;
  --default-icons-background-color: #69fd5d;
  --default-icons-color: #206d1b;
  --font-family: 'Montserrat';

  .custom-select {
    @include mat.select-overrides(
      (
        panel-background-color: var(--backgroud-default),
      )
    );
  }

  .custom-checkbox {
    @include mat.checkbox-overrides(
      (
        label-text-color: white,
        selected-checkmark-color: var(--default-green-color),
      )
    );
  }

  html,
  body {
    font-family: var(--font-family);
  }

  button {
    border: none;
    border-radius: 8px;
    padding: 15px;
    background-color: var(--default-green-color);
    color: black;
    font-family: var(--font-family);
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;

    &:hover {
      background-color: var(--default-hover-green-color);
      cursor: pointer;
    }
  }

  a {
    color: var(--default-green-color);
  }

  .text-default {
    color: var(--default-green-color);
  }

  .bg-default {
    background-color: var(--default-green-color);
  }

  .border-default {
    border: 1px solid;
    border-color: var(--default-green-color);

    &:hover {
      border-color: #000000;
    }
  }
}

.custom-form-field {
  --mat-sys-corner-extra-small: 8px;
  /* 1. Cor da borda normal (em repouso) */
  .mdc-notched-outline__leading,
  .mdc-notched-outline__notch,
  .mdc-notched-outline__trailing {
    border-color: #4db614 !important;
    font-family: var(--font-family);
  }

  /* 2. Cor da label normal (em repouso) */
  .mat-mdc-form-field-label {
    color: #4db614 !important;
    font-family: var(--font-family);
  }

  /* 3. Cor da borda QUANDO FOCADO */
  &.mat-form-field-focused {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #00ff0d !important; /* Sua cor aqui */
      font-family: var(--font-family);
    }

    /* 4. Cor da label QUANDO FOCADO */
    .mat-mdc-form-field-label {
      color: #3cff00 !important;
      font-family: var(--font-family);
    }
  }
}

html {
  height: 100%;
  font-family: var(--font-family);
  @include mat.theme(
    (
      // color: (
      //   primary: mat.$cyan-palette,
      //   tertiary: mat.$orange-palette,
      // ),
      typography: Montserrat,
      density: 0
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  // color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--backgroud-default);
  color: var(--text-color-default);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  padding: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
